<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible">

	<title>Audimance - Room List</title>

   <link rel="stylesheet" href="/css/pure.css"/>
   <link rel="stylesheet" href="/css/master.css"/>
</head>
<body>

   <ul id="preshow">
         <li> Welcome to Audimance </li>
         <li> Message from our sponsor: 5 minutes
            <audio controls>
               <source src="media/static/test.webm" />
               <source src="media/static/test.mp3" />
            </audio>
         </li>
   </ul>
</body>
</html>
