<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible">

	<title>Audimance - Room {{.Room.LabelText}}</title>

   <link rel="stylesheet" href="/css/room.css">
</head>
<body>

	<input type="hidden" id="roomName" value="{{.Room.Name}}">

	<div id="audimance-room" style="height:100%;"></div>

	<!-- audio files to be played -->
	{{ range $src := .Room.Sources }}
		{{ range $track := .Tracks }}
			<audio id="audio-{{.ID}}" data-srcid="{{ $src.ID }}" data-id="{{.ID}}" data-cue="{{.Cue}}" data-loadcue="{{.LoadCue}}">
				{{ range .AudioFiles }}
				<source src="/media/{{ . }}">
				{{ end }}
			</audio>
		{{ end }}
	{{ end }}

	<script type="module" src="/app/room.js"></script>
</body>
</html>
